#! For development, e.g. debugging in IDEs
PYTHONPATH=./src

## For Logging:
# APP_NAME=i18n-tools
# LOG_COLOR_MODE=true

## Working Directory:
# The working directory, could be:
# 1) the current dir (.)
# 2) an relative path to current dir
# 3) an absolute path
# 4) if ommited, then ($HOME/i18n-tools)
HOME_DIR=.

## Config File:
# CONFIG_FILE=data/config.yaml

## Input Directory:
# Enter the directory that contains input files,
# relative path to HOME_DIR, or absolute path:
INPUT_DIR=input

## Output Directory:
# Enter the directory that contains output files,
# relative path to HOME_DIR, or absolute path:
OUTPUT_DIR=output

## JSON Directory:
# Enter the directory for IN/OUT json files,
# that relative to INPUT_DIR/OUTPUT_DIR:
JSON_DIR=json

## EXCEL Directory:
# Enter the directory for IN/OUT excel files,
# that relative to INPUT_DIR/OUTPUT_DIR:
EXCEL_DIR=excel
